In [1]:
import pymongo
import pandas as pd

In [4]:
#MongoDB
client = pymongo.MongoClient("mongodb+srv://balaji_2797:b12345678@balaji.du3jeiw.mongodb.net/?retryWrites=true&w=majority&appName=Balaji")
db = client["sample_airbnb"]
collection = db["listingsAndReviews"]

In [5]:
document = collection.find({}, {'_id': 0})
document[0]

{'listing_url': 'https://www.airbnb.com/rooms/10021707',
 'name': 'Private Room in Bushwick',
 'summary': 'Here exists a very cozy room for rent in a shared 4-bedroom apartment. It is located one block off of the JMZ at Myrtle Broadway.  The neighborhood is diverse and appeals to a variety of people.',
 'space': '',
 'description': 'Here exists a very cozy room for rent in a shared 4-bedroom apartment. It is located one block off of the JMZ at Myrtle Broadway.  The neighborhood is diverse and appeals to a variety of people.',
 'neighborhood_overview': '',
 'notes': '',
 'transit': '',
 'access': '',
 'interaction': '',
 'house_rules': '',
 'property_type': 'Apartment',
 'room_type': 'Private room',
 'bed_type': 'Real Bed',
 'minimum_nights': '14',
 'maximum_nights': '1125',
 'cancellation_policy': 'flexible',
 'last_scraped': datetime.datetime(2019, 3, 6, 5, 0),
 'calendar_last_scraped': datetime.datetime(2019, 3, 6, 5, 0),
 'first_review': datetime.datetime(2016, 1, 31, 5, 0),
 'last_review': datetime.datetime(2016, 1, 31, 5, 0),
 'accommodates': 1,
 'bedrooms': 1,
 'beds': 1,
 'number_of_reviews': 1,
 'bathrooms': Decimal128('1.5'),
 'amenities': ['Internet',
  'Wifi',
  'Air conditioning',
  'Kitchen',
  'Buzzer/wireless intercom',
  'Heating',
  'Smoke detector',
  'Carbon monoxide detector',
  'Essentials',
  'Lock on bedroom door'],
 'price': Decimal128('40.00'),
 'extra_people': Decimal128('0.00'),
 'guests_included': Decimal128('1'),
 'images': {'thumbnail_url': '',
  'medium_url': '',
  'picture_url': 'https://a0.muscache.com/im/pictures/72844c8c-fec2-440e-a752-bba9b268c361.jpg?aki_policy=large',
  'xl_picture_url': ''},
 'host': {'host_id': '11275734',
  'host_url': 'https://www.airbnb.com/users/show/11275734',
  'host_name': 'Josh',
  'host_location': 'New York, New York, United States',
  'host_about': '',
  'host_thumbnail_url': 'https://a0.muscache.com/im/users/11275734/profile_pic/1405792127/original.jpg?aki_policy=profile_small',
  'host_picture_url': 'https://a0.muscache.com/im/users/11275734/profile_pic/1405792127/original.jpg?aki_policy=profile_x_medium',
  'host_neighbourhood': 'Bushwick',
  'host_is_superhost': False,
  'host_has_profile_pic': True,
  'host_identity_verified': True,
  'host_listings_count': 1,
  'host_total_listings_count': 1,
  'host_verifications': ['email', 'phone', 'reviews', 'kba']},
 'address': {'street': 'Brooklyn, NY, United States',
  'suburb': 'Brooklyn',
  'government_area': 'Bushwick',
  'market': 'New York',
  'country': 'United States',
  'country_code': 'US',
  'location': {'type': 'Point',
   'coordinates': [-73.93615, 40.69791],
   'is_location_exact': True}},
 'availability': {'availability_30': 0,
  'availability_60': 0,
  'availability_90': 0,
  'availability_365': 0},
 'review_scores': {'review_scores_accuracy': 10,
  'review_scores_cleanliness': 10,
  'review_scores_checkin': 10,
  'review_scores_communication': 10,
  'review_scores_location': 8,
  'review_scores_value': 8,
  'review_scores_rating': 100},
 'reviews': [{'_id': '61050713',
   'date': datetime.datetime(2016, 1, 31, 5, 0),
   'listing_id': '10021707',
   'reviewer_id': '52006105',
   'reviewer_name': 'Antoine',
   'comments': "Josh was out of town during my 1 month stay. His roommates greeted and helped get me settled. They were great hosts and all around cool people. I'm a Brooklynite, but have never lived in Bushwick.\r\nIf you're looking for an hip, authentic, and convenient Brooklyn experience, this spot is for you.  You can literally see the Subway platform from Josh's window. Also a couple steps away from anything you could possibly need... restaurants, juice bar, organic grocery, etc. "}]}

In [6]:
clm = { 'name':[],'property_type':[], 'price':[], 'security_deposit':[], 'cleaning_fee':[], 'extra_people_fee':[], 'guests_included':[],
     'minimum_nights':[], 'cancellation_policy':[], 'accommodates':[], 'bedrooms':[], 'beds':[], 'bed_type':[], 'bathrooms':[],
     'country':[], 'number_of_reviews':[], 'review_scores_rating':[] }

for i in collection.find():
    name = i.get('name')
    property_type = i.get('property_type')
    price = i.get('price')

    security_deposit = i.get('security_deposit')
    cleaning_fee = i.get('cleaning_fee')
    extra_people_fee = i.get('extra_people')
    guests_included = i.get('guests_included')

    minimum_nights = i.get('minimum_nights')
    cancellation_policy = i.get('cancellation_policy')
    accommodates = i.get('accommodates')
    bedrooms = i.get('bedrooms')
    beds = i.get('beds')

    bed_type = i.get('bed_type')
    bathrooms = i.get('bathrooms')

    country = i['address'].get('country')
    number_of_reviews = i.get('number_of_reviews')
    review_scores_rating = i['review_scores'].get('review_scores_rating')

    clm['name'].append(name)
    clm['property_type'].append(property_type)
    clm['price'].append(price)

    clm['security_deposit'].append(security_deposit)
    clm['cleaning_fee'].append(cleaning_fee)
    clm['extra_people_fee'].append(extra_people_fee)
    clm['guests_included'].append(guests_included)

    clm['minimum_nights'].append(minimum_nights)
    clm['cancellation_policy'].append(cancellation_policy)
    clm['accommodates'].append(accommodates)
    clm['bedrooms'].append(bedrooms)
    clm['beds'].append(beds)

    clm['bed_type'].append(bed_type)
    clm['bathrooms'].append(bathrooms)

    clm['country'].append(country)
    clm['number_of_reviews'].append(number_of_reviews)
    clm['review_scores_rating'].append(review_scores_rating)

df = pd.DataFrame(clm)

In [7]:
df.head()

,name,property_type,price,security_deposit,cleaning_fee,extra_people_fee,guests_included,minimum_nights,cancellation_policy,accommodates,bedrooms,beds,bed_type,bathrooms,country,number_of_reviews,review_scores_rating
0,Private Room in Bushwick,Apartment,40.00,None,None,0.00,1,14,flexible,1,1.0,1.0,Real Bed,1.5,United States,1,100.0
1,Be Happy in Porto,Loft,30.00,0.00,10.00,0.00,1,2,moderate,2,1.0,1.0,Real Bed,1.0,Portugal,178,97.0
2,Ribeira Charming Duplex,House,80.00,200.00,35.00,15.00,6,2,moderate,8,3.0,5.0,Real Bed,1.0,Portugal,51,89.0
3,New York City - Upper West Side Apt,Apartment,135.00,0.00,135.00,0.00,1,12,strict_14_with_grace_period,2,1.0,1.0,Real Bed,1.0,United States,70,94.0
4,Apt Linda Vista Lagoa - Rio,Apartment,701.00,1000.00,250.00,0.00,1,1,flexible,2,1.0,1.0,Real Bed,2.0,Brazil,0,NaN

In [8]:
df.shape

(5555, 17)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  5555 non-null   object
 1   property_type         5555 non-null   object
 2   price                 5555 non-null   object
 3   security_deposit      3471 non-null   object
 4   cleaning_fee          4024 non-null   object
 5   extra_people_fee      5555 non-null   object
 6   guests_included       5555 non-null   object
 7   minimum_nights        5555 non-null   object
 8   cancellation_policy   5555 non-null   object
 9   accommodates          5555 non-null   int64
 10  bedrooms              5550 non-null   float64
 11  beds                  5542 non-null   float64
 12  bed_type              5555 non-null   object
 13  bathrooms             5545 non-null   object
 14  country               5555 non-null   object
 15  number_of_reviews     5555 non-null   int64
 16  review_scores_rating  4081 non-null   float64
dtypes: float64(3), int64(2), object(12)
memory usage: 737.9+ KB

In [10]:
df['price'] = df['price'].astype(str).astype(float)

In [11]:
df['price'].head()

0     40.0
1     30.0
2     80.0
3    135.0
4    701.0
Name: price, dtype: float64

In [12]:
df['security_deposit'] = df['security_deposit'].astype(str)
df['security_deposit'] = df['security_deposit'].apply(lambda x: float(x) if x != 'None' else None)

In [13]:
df['security_deposit'].head()

0       NaN
1       0.0
2     200.0
3       0.0
4    1000.0
Name: security_deposit, dtype: float64

In [14]:
df['cleaning_fee'] = df['cleaning_fee'].astype(str)
df['cleaning_fee'] = df['cleaning_fee'].apply(lambda x: float(x) if x != 'None' else None)

df['extra_people_fee'] = df['extra_people_fee'].astype(str).astype(float)
df['guests_included'] = df['guests_included'].astype(str).astype(float)

df['minimum_nights'] = pd.to_numeric(df['minimum_nights'])

df['bathrooms'] = df['bathrooms'].astype(str)
df['bathrooms'] = df['bathrooms'].apply(lambda x: float(x) if x != 'None' else None)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  5555 non-null   object
 1   property_type         5555 non-null   object
 2   price                 5555 non-null   float64
 3   security_deposit      3471 non-null   float64
 4   cleaning_fee          4024 non-null   float64
 5   extra_people_fee      5555 non-null   float64
 6   guests_included       5555 non-null   float64
 7   minimum_nights        5555 non-null   int64
 8   cancellation_policy   5555 non-null   object
 9   accommodates          5555 non-null   int64
 10  bedrooms              5550 non-null   float64
 11  beds                  5542 non-null   float64
 12  bed_type              5555 non-null   object
 13  bathrooms             5545 non-null   float64
 14  country               5555 non-null   object
 15  number_of_reviews     5555 non-null   int64
 16  review_scores_rating  4081 non-null   float64
dtypes: float64(9), int64(3), object(5)
memory usage: 737.9+ KB

In [16]:
df['security_deposit'].fillna(0, inplace = True)
df['cleaning_fee'].fillna(0, inplace = True)
df['bedrooms'].fillna(1, inplace = True)
df['beds'].fillna(1, inplace = True)
df['bathrooms'].fillna(1, inplace = True)

/var/folders/hy/083dpw852bvfrt3k17jjtbkc0000gn/T/ipykernel_10593/380124544.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['security_deposit'].fillna(0, inplace = True)
/var/folders/hy/083dpw852bvfrt3k17jjtbkc0000gn/T/ipykernel_10593/380124544.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cleaning_fee'].fillna(0, inplace = True)
/var/folders/hy/083dpw852bvfrt3k17jjtbkc0000gn/T/ipykernel_10593/380124544.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bedrooms'].fillna(1, inplace = True)
/var/folders/hy/083dpw852bvfrt3k17jjtbkc0000gn/T/ipykernel_10593/380124544.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['beds'].fillna(1, inplace = True)
/var/folders/hy/083dpw852bvfrt3k17jjtbkc0000gn/T/ipykernel_10593/380124544.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bathrooms'].fillna(1, inplace = True)

In [17]:
df.isnull().sum()

name                       0
property_type              0
price                      0
security_deposit           0
cleaning_fee               0
extra_people_fee           0
guests_included            0
minimum_nights             0
cancellation_policy        0
accommodates               0
bedrooms                   0
beds                       0
bed_type                   0
bathrooms                  0
country                    0
number_of_reviews          0
review_scores_rating    1474
dtype: int64

In [18]:
df.duplicated().sum()

1

In [19]:
df.to_csv('AirbnbDataset.csv', index=False)